#element {
    /* colors */
    --primary-color: #2c3e50;
    --primary-font: #fff;

    --secondary-color: #efefef;
    --secondary-font: #000;

    --border: darkgray;
    --card-bg: #ffffff;

    --course-item-bg: #b9cce2;
    --deck-item-bg: #f1f1e6;

    /* fonts */
    font-family: Montserrat, sans-serif;
    font-weight: 100;
}

/*region general */
.hidden {
    display: none;
}

.unseen {
    visibility: hidden;
}

button {
    padding: 8px;
    cursor: pointer;
    border: 1px solid darkgray;
    border-radius: 5px;

    &.btn-low-style {
        background: none;
        border: none;
        color: var(--primary-color);
    }
}

.cancel {
    background-color: var(--secondary-color);
    color: var(--secondary-font);
}

input, select, textarea {
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 4px;
    resize: vertical;
}

input[type="checkbox"] {
    cursor: pointer;
}

.modal-dialog {
    border: 1px solid var(--border);
    border-radius: 5px;

    & h3 {
        margin-top: 0;
    }

    .modal-button-container {
        display: flex;
        gap: 5px;
        margin-top: 15px;
    }
}

/*endregion */


/*region main template */
#main {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
}

#headline {
    margin: 0;
}

#sub-headline {
    margin: 5px 0 0 0;
}

#user {
    display: flex;
    gap: 10px;
}

.form-container {
    display: flex;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group select {
    min-width: 200px;
}

.accordion {
    max-width: 90%;
    margin-top: 20px;
}

#accordion-item-toggle-course {
    background-color: #ccc;
}

#accordion-item-toggle-course, .accordion-item-toggle, .accordion-item-content-documents, .accordion-item-content-chat, .accordion-item-content-group, .accordion-item-content-item {
    width: 90%;
    border-radius: 0;
    text-align: left;
    padding: 15px;
}

.accordion-item-content-course > .accordion-item-toggle {
    background-color: #f1f1f1;
    margin-left: 10px;
    width: calc(90% - 10px);
}

#accordion-item-content-chat, #accordion-item-content-group {
    background-color: white;
    margin-left: 20px;
    width: calc(90% - 22px);
    border: 1px solid var(--border);
}

.accordion-item-content-item {
    background-color: #fff;
    margin-left: 20px;
    width: calc(90% - 20px);
}

.document-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.document-title {
    font-weight: bold;
    color: black;
}

#star-rating {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid var(--border);
}

#star-rating-result:hover #star-rating {
    display: block;
}

#star-rating-result {
    margin-right: -90px;
}

/*endregion */

/*region tab */
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-btn {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 0;
}

.tab-btn:hover {
    background-color: #ddd;
}

.tab-btn.active {
    background-color: #ccc;
}

.tab-content {
    padding: 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*endregion */