#element {
    /* colors */
    --primary-color: #ccc;
    --primary-font: #000;

    --secondary-color: #efefef;
    --secondary-font: #000;

    --border: #A9A9A9FF;

    /* fonts */
    font-family: Montserrat, sans-serif;
    font-weight: 100;
}

/*region general */
.hidden {
    display: none;
}

button {
    padding: 8px;
    cursor: pointer;
    border: 1px solid darkgray;
    border-radius: 5px;
}

select {
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 4px;
    resize: vertical;
}

.modal-dialog {
    border: 1px solid var(--border);
    border-radius: 5px;

    & h3 {
        margin-top: 0;
    }

    .modal-button-container {
        display: flex;
        gap: 5px;
        margin-top: 15px;
    }
}
/*endregion */

/*region main template */
#main {
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #f0f0f0;
        margin-bottom: 15px;
    }

    #headline {
        margin: 0;
    }
}
/*endregion */

/*region main-content template */
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-btn {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 0;
}

.tab-btn:hover {
    background-color: #ddd;
}

.tab-btn.active {
    background-color: #ccc;
}

.tab-content {
    padding: 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.form-container {
    display: flex;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group select {
    min-width: 200px;
}

.accordion {
    max-width: 90%;
    margin-top: 20px;
}
/*endregion */

/*region course-item template */
.accordion-item-toggle-course {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-item-toggle-course, .accordion-item-toggle {
    width: 90%;
    border-radius: 0;
    text-align: left;
    padding: 15px;
}

.accordion-item-content-course > .accordion-item-toggle {
    background-color: #f1f1f1;
}

#accordion-item-content-chat, #accordion-item-content-group, #accordion-item-content-documents {
    background-color: white;
    margin-left: 20px;
    width: calc(90% - 22px);
    border: 1px solid var(--border);
}

.favorite {
    padding: 5px;
}
/*endregion */
