#main {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
}

.headline {
    margin: 0;
}

.user {
    display: flex;
    gap: 10px;
}

input, select {
    padding: 5px;
}

input[type="checkbox"] {
    cursor: pointer;
}

button {
    padding: 5px;
}

.btn-link-style {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

#add-course-btn{
    margin-left: 215px;
}

#submit-course {
    border-radius: 400px;

}

#cards_container {
    border: solid 1px black;
    padding: 5px;
}

#cards {
    display: flex;
    flex-direction: column; /* Karten untereinander */
    gap: 10px; /* Abstand zwischen den Karten */
}

#card {
    display: flex;
    flex-direction: row; /* Frage und Antwort nebeneinander */
    gap: 20px; /* Abstand zwischen Frage und Antwort */
}

.input-group {
    display: flex;
    flex-direction: column; /* Label über der Textarea */
    gap: 5px; /* Abstand zwischen Label und Textarea */
}

.input-group textarea {
    width: 200px; /* Breite der Textareas begrenzen */
    resize: vertical; /* Nur vertikales Resizen erlauben */
}