#main {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
}

.hidden {
    display: none;
}


button {
    padding: 8px;
    cursor: pointer;
    border: 1px solid darkgray;
    border-radius: 5px;

    &.btn-low-style {
        background: none;
        border: none;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
}

.headline-wrapper {
    display: flex;
    flex-direction: column;
}

.headline {
    margin: 0;
}

.sub-headline {
    margin: 5px 0 0 0;
}

.user {
    display: flex;
    gap: 10px;
}

#card {
    width: 700px;
    height: 400px;
    /*background-color: #add8e6;*/
    border: 3px solid #000;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    /* Flexbox für vertikale Ausrichtung */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Abstand zwischen Text und Buttons */
    align-items: center; /* Horizontale Zentrierung */
    text-align: center;
}

#question_answer_text {
    flex-grow: 1; /* Nimmt den freien Platz ein */
    display: flex; /* Flexbox für Zentrierung */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    font-size: 18px; /* Schriftgröße */
    margin: 0; /* Kein zusätzlicher Außenabstand */
}

#card_buttons {
    display: flex; /* Flexbox für Buttons */
    justify-content: space-around; /* Gleichmäßiger Abstand zwischen Buttons */
    width: 100%; /* Buttons nehmen die gesamte Breite ein */
}

#card_buttons button {
    background: none;
    border: none;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}

.questionStyle {
    display: none;
    margin-top: 20px;
}

.answerStyle {
    display: flex;
    justify-content: center;
    width: 90%;
}

#hard {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

#middle {
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 10px 0 10px;
}

#easy {
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}