#element {
    /* colors */
    --primary-color: #ccc;
    --primary-font: #000;
    --secondary-color: #efefef;
    --secondary-font: #000;

    --border: 1px solid #A9A9A9FF;

    /* font */
    font-family: Montserrat, sans-serif;
    font-weight: 100;
}

.unseen {
    visibility: hidden;
}

button {
    padding: 8px;
    cursor: pointer;
    border: var(--border);
    border-radius: 5px;
}

#main {
    #top {
        float: right;
    }
}

input, textarea {
    padding: 5px;
    border: var(--border);
    border-radius: 4px;
    resize: vertical;
}


.cancel {
    background-color: var(--secondary-color);
    color: var(--secondary-font);
}

.submit {
    background-color: var(--primary-color);
    color: var(--primary-font);
}

.modal-dialog {
    border: var(--border);
    border-radius: 5px;

    & h3 {
        margin-top: 0;
    }

    .modal-button-container {
        display: flex;
        gap: 5px;
        margin-top: 15px;
    }
}

.form-group {
    display: flex;
    flex-direction: column;

    & label{
        margin-bottom: 5px;
    }
}

.add-document-button {
    width: 100%;
}

.list-item {
    background-color: #fff;
    border: var(--border);
    border-radius: 0;
    text-align: left;
    padding: 15px;
}

/*region document-item template */
.document-item {
    display: flex;
    align-items: center;

    & span {
        color: #555;
    }

    #left-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .document-title {
        font-weight: 600;
        color: black;
    }

    .star-rating-result {
        margin-left: auto;
    }

    .star-rating {
        display: none;
        position: absolute;
        background-color: #fff;
        border: var(--border);
    }

    .star-rating-result:hover .star-rating {
        display: block;
    }

    .delete-document {
        cursor: pointer;
        padding: 10px;
    }
}
/*endregion */
